---
import { Icon } from "astro-icon/components";

export interface Props {
    icon: string;
    label: string;
    href: string;
    useButtonStyle?: boolean
}

const { icon, label, href, useButtonStyle } = Astro.props;
---

<a class={useButtonStyle ? "social-btn" : "flex flex-row gap-1"} href={href}>
    <Icon name={icon} class="w-7 h-7" />
    <p>{label}</p>
</a>
