---
import getStaffRecord from "~/staffData"
import Socials from "./Socials.astro";

export interface Props {
  title: string,
  name: string,
}

const { title, name } = Astro.props;
---

<div class="">
  <h2 class="text-xl font-bold">{title}</h2>
  <h2 class="text-xl font-bold text-primary">{name}</h2>
  <Socials {...getStaffRecord(name)}/>
</tr>