---
import getStaffRecord from "~/staffData";
import { Image } from "astro:assets";
import Socials from "./Socials.astro";
import { Logger } from "node_modules/astro/dist/core/logger/core";
import { twMerge } from "tailwind-merge";

export interface Props {
    name: string;
    noSocials?: boolean;
    forceAspectRatio?: boolean;
    title?: string;
}

const { name, noSocials, forceAspectRatio, title } = Astro.props;

const basePath = "/src/assets/images/staff/";
let leadershipData = getStaffRecord(name);
const images = import.meta.glob<{ default: ImageMetadata }>(
    "/src/assets/images/staff/*.{jpeg,jpg,png,webp}",
);

function getImagePath(name) {
    let imagePath;
    for (let i in images) {
        if (i.startsWith(basePath + name)) {
            if (imagePath != null) {
                throw new Error("Multiple staff images found for " + name);
            }

            imagePath = i;
        }
    }

    return imagePath;
}

let imagePath = getImagePath(name);
if (getImagePath(name) == null) {
    imagePath = getImagePath("unknown");
}

const image = images[imagePath]();
---

<div
    class="border border-[#ffffff29] bg-page rounded-md p-4 flex flex-col gap-4 shadow-lg max-w-80"
>
    <Image class={twMerge("rounded-sm object-cover", forceAspectRatio && "aspect-[3/2]")} src={image} alt={name} width=400 widths={[400, 800]} />
    <div>
        <p class="text-primary font-bold text-xl">{name}</p>
        <p class="font-bold">{title || leadershipData.title}</p>

        <div class="py-4">
            <p>{leadershipData.major || <span>&nbsp;</span>}</p>
            <p>{leadershipData.year || <span>&nbsp;</span>}</p>
        </div>

        {!noSocials && <Socials vertical {...getStaffRecord(name)} />}
    </div>
</div>
