---
import Socials from "./Socials.astro";
import Image from "../common/Image.astro";
import { type TeamMember } from "~/types";
import { type ImageProps } from "~/utils/images-optimization";

export interface Props {
  title: string,
  lead: TeamMember,
  images: Array<ImageProps>,
}

const { title, lead, images = [] } = Astro.props;
---

<div class="flex flex-col md:flex-row justify-center gap-8">
  <div class="md:w-1/2">
    <h2 class="text-primary text-4xl font-bold py-4">{title}</h2>

    <div class="items-end my-4">
      <h3 class="text-xl font-bold">
        {lead.title ? lead.title : "Team Lead: "}<span class="text-primary"
          >{lead.name}</span
        >
      </h3>

      <Socials linkedins={lead.linkedins} emails={lead.emails} />
    </div>

    <div class="flex flex-col gap-4 text-lg">
      <slot/>
    </div>
  </div>

  <div class="flex flex-col gap-4 md:w-1/2">
    {images.map((i) => <Image class="m-auto" layout="contained" {...i} />)}
  </div>
</div>
