---
import Layout from "~/layouts/PageLayout.astro";

import Hero from "~/components/widgets/Hero.astro";
import Steps from "~/components/widgets/Steps.astro";
import WeAreBsli from "~/components/widgets/WeAreBsli.astro";
import OurProjects from "~/components/widgets/OurProjects.astro";
import CallToAction from "~/components/widgets/CallToAction.astro";

import { getHomePermalink, getPermalink } from "~/utils/permalinks";

const metadata = {
  title: "BSLI — The Ohio State University",
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: "primary",
        text: "Get involved 🚀",
        href: getHomePermalink() + "#get-involved",
      },
      { text: "Learn more", href: "#we-are-bsli" },
      { text: "Sponsor us!", href: getPermalink("/sponsor") },
    ]}
    image={{
      src: "~/assets/images/BSLI-Added-payload-both-teams.png",
      alt: "Payload & Spaceport Teams",
    }}
  >
    <Fragment slot="title">Buckeye Space Launch Initiative</Fragment>

    <Fragment slot="subtitle">
      at
      <span class="font-semibold text-primary">The Ohio State University</span>
    </Fragment>
  </Hero>

  <WeAreBsli
    id="we-are-bsli"
    isReversed
    tagline="WHO WE ARE"
    title="WE ARE BSLI."
    image={{
      src: "~/assets/images/scottlab2.jpg",
      alt: "Scott Lab at OSU",
    }}
  >
    <Fragment slot="content">
      We are <b>The Ohio State University’s</b> collegiate rocketry team, striving
      to expand research and technology in the aerospace industry. Among our three
      project teams, we launch a wide array of payloads to low and high altitudes.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-gray-50 dark:bg-transparent"></div>
    </Fragment>
  </WeAreBsli>

  <OurProjects
    id="our-projects"
    title="Our Projects"
    items={[
      {
        name: "NASA Student Launch Initiative (NASA)",
        description:
          "NASA SLI is a research-based, competitive, experiential exploration project striving to provide relevant research through payload components to support the development of NASA’s Space Launch System (SLS) program.",
        image: {
          src: import("/src/assets/images/subteam-nasa.webp"),
          alt: "NASA Subteam",
        },
        href: getPermalink("/projects/nasa"),
        meetingTimes: [
          {
            day: "Tuesdays",
            time: "6-8 pm",
          },
          {
            day: "Sundays",
            time: "3-5 pm",
          },
        ],
      },
      {
        name: "Spaceport America Cup (SAC)",
        description:
          "SAC competes at Spaceport America Cup, an international collegiate rocketry competition hosted in New Mexico every summer. BSLI competes in the 30k Student Research and Developed (SRAD) category.",
        image: {
          src: import("/src/assets/images/subteam-sac.webp"),
          alt: "Spaceport America Cup Team",
        },
        href: getPermalink("/projects/sac"),
        meetingTimes: [
          {
            day: "Wednesdays",
            time: "7-9 pm",
          },
          {
            day: "Sundays",
            time: "1-3 pm",
          },
        ],
      },
      {
        name: "Liquid Engine Project (Liquids)",
        description:
          "BSLI Liquids team focuses on liquid bipropellant rocket engine development. Current development includes working towards test firing an LR-101, and further refining our 1st custom engine.",
        image: {
          src: import("/src/assets/images/subteam-liquids.webp"),
          alt: "Liquids Team",
        },
        href: getPermalink("/projects/liquids"),
        meetingTimes: [
          {
            day: "Thursdays",
            time: "6 pm",
          },
          {
            day: "Sundays",
            time: "4 pm",
          },
        ],
      },
    ]}
  >
    <Fragment slot="subtitle">
      <p class="text-center">
        All BSLI project teams meet in the
        <b>College of Engineering Makerspace</b>, located in
        <b>Bolz Hall</b>.
      </p>

      <p class="text-center">
        Meeting times can be found below, underneath each team description.
      </p>
    </Fragment>
  </OurProjects>

  <!-- Steps Widget ****************** -->

  <Steps
    id="get-involved"
    title="Get Involved 🚀"
    items={[
      {
        title:
          'Step 1: <span class="font-medium"><a href="#our-projects" class="link">Find your Project Subteam.</a></span>',
        description:
          "Research our teams! Across NASA, Spaceport, and Liquids, there is a place for you in BSLI.",
        icon: "tabler:search",
      },
      {
        title:
          'Step 2: <span class="font-medium">Check if the team meets when you\'re available.</span>',
        description: `Meeting times can be found in the <a href="#our-projects" class="link">"Our Projects"</a> section above.`,
        icon: "tabler:clock",
      },
      {
        title: 'Step 3: <span class="font-medium">Join our Slack.</span>',
        description: `You can find the link <a href="#call-to-action" class="link">at the bottom of this page.</a>`,
        icon: "tabler:message-chatbot",
      },
      {
        title: 'Step 4: <span class="font-medium">Talk to Us!</span>',
        description:
          "Show up to a meeting. Talk to some people in each project team and check out the vibe.",
        icon: "tabler:friends",
      },
      {
        title:
          'Step 5: <span class="font-medium">Consider joining a leadership position!</span>',
        description: `If you enjoy being part of BSLI, check out the variety of leadership positions available on the <a class="link" href="${getPermalink("leadership")}">Leadership</a> page.`,
        icon: "tabler:bulb",
      },
    ]}
    image={{
      src: "~/assets/images/DSC4344.webp",
      alt: "Steps image",
    }}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-gray-50 dark:bg-transparent"></div>
    </Fragment>
  </Steps>

  <!-- CallToAction Widget *********** -->

  <CallToAction
    id="call-to-action"
    actions={[
      {
        variant: "primary",
        text: "Join our Slack",
        href: "https://linktr.ee/buckeye_sli",
        target: "_blank",
        icon: "tabler:rocket",
      },
    ]}
  >
    <Fragment slot="title">Ready to build some rockets?</Fragment>

    <Fragment slot="subtitle"> </Fragment>
  </CallToAction>
</Layout>
