---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import WeAreBsli from '~/components/widgets/WeAreBsli.astro';
import Content from '~/components/widgets/Content.astro';
import OurProjects from '~/components/widgets/OurProjects.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

import { getHomePermalink, getPermalink } from '~/utils/permalinks';

const metadata = {
  title: 'BSLI — The Ohio State University',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Get involved 🚀',
        href: getHomePermalink() + '#get-involved',
      },
      { text: 'Learn more', href: '#we-are-bsli' },
    ]}
    image={{ src: '~/assets/images/BSLI-Added-payload-both-teams.png', alt: 'Payload & Spaceport Teams' }}
  >
    <Fragment slot="title"><span class="text-primary highlight">THE</span> Buckeye Space Launch Initiative </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        at <span class="font-semibold">The Ohio State University</span>
      </span>
    </Fragment>
  </Hero>

  <WeAreBsli
    id="we-are-bsli"
    isReversed
    tagline="WHO WE ARE"
    title="WE ARE BSLI."
    image={{
      src: '~/assets/images/scottlab2.jpg',
      alt: 'Scott Lab at OSU',
    }}
  >
    <Fragment slot="content">
      We are <b>The Ohio State University’s</b> collegiate rocketry team, striving to expand research and technology in the
      aerospace industry. Among our three project teams, we launch a wide array of payloads to low and high altitudes.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-gray-50 dark:bg-transparent"></div>
    </Fragment>
  </WeAreBsli>

  <OurProjects
    id="our-projects"
    title="Our Projects"
    subtitle="The Buckeye Space Launch Initiative was founded with the goal of reaching space. We have become so much more by enabling students to become innovators and expand research and technology in the aerospace industry. From our competitive teams in rocketry to our liquid engine development program, we encourage students to innovate, get their hands dirty, and learn. Each subteam project has different goals and restrictions, giving students wide range of options to choose from."
    items={[
      {
        name: 'NASA Student Launch Initiative (NASA)',
        description:
          'NASA SLI is a research-based, competitive, experiential exploration project striving to provide relevant research through payload components to support the development of NASA’s Space Launch System (SLS) program.',
        image: {
          src: '~/assets/images/subteam-nasa.webp',
          alt: 'Scott Lab at OSU',
        },
        href: getPermalink("/projects/nasa")
      },
      {
        name: 'Spaceport America Cup (SAC)',
        description:
          'SAC competes at Spaceport America Cup, an international collegiate rocketry competition hosted in New Mexico every summer. BSLI competes in the 30k Student Research and Developed (SRAD) category.',
        image: {
          src: '~/assets/images/subteam-sac.webp',
          alt: 'Scott Lab at OSU',
        },
        href: getPermalink("/projects/sac")
      },
      {
        name: 'Liquid Engine Project (Liquids)',
        description: 'BSLI Liquids team focuses on liquid bipropellant rocket engine development. Current development includes working towards test firing an LR-101, and further refining our 1st custom engine.',
        image: {
          src: '~/assets/images/subteam-liquids.webp',
          alt: 'Scott Lab at OSU',
        },
        href: getPermalink("/projects/liquids")
      },
    ]}
  />

  <!-- Steps Widget ****************** -->

  <Steps
    id="get-involved"
    title="Get Involved"
    items={[
      {
        title: 'Step 1: <span class="font-medium">Find your Project Subteam.</span>',
        description: 'Research our teams! Across NASA, Spaceport, and Liquids, there is a place for you in BSLI.',
        icon: 'tabler:search',
      },
      {
        title: 'Step 2: <span class="font-medium">Check if the team meets when you\'re available.</span>',
        description: `Meeting times can be found in the "Our Projects" section above.`,
        icon: 'tabler:clock',
      },
      {
        title: 'Step 3: <span class="font-medium">Join our Slack.</span>',
        description: 'You can find the link at the bottom of this page.',
        icon: 'tabler:message-chatbot',
      },
      {
        title: 'Step 4: <span class="font-medium">Talk to Us!</span>',
        description: 'Show up to a meeting. Talk to some people in each subteam and check out the vibe.',
        icon: 'tabler:friends',
      },
    ]}
    image={{
      src: '~/assets/images/DSC4344.webp',
      alt: 'Steps image',
    }}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-gray-50 dark:bg-transparent"></div>
    </Fragment>
  </Steps>

   <!-- CallToAction Widget *********** -->

   <CallToAction
   actions={[
     {
       variant: 'primary',
       text: 'Join our Slack',
       href: 'https://linktr.ee/buckeye_sli',
       target: '_blank',
       icon: 'tabler:rocket',
     },
   ]}
 >
   <Fragment slot="title">
     Ready to join the leading edge of student rocketry at Ohio State?
   </Fragment>

   <Fragment slot="subtitle">

   </Fragment>
 </CallToAction>


</Layout>
