---
import Headline from "~/components/ui/Headline.astro";
import WidgetWrapper from "~/components/ui/WidgetWrapper.astro";
import Hero from "~/components/widgets/Hero.astro";
import Layout from "~/layouts/PageLayout.astro";
import StaffCard from "~/components/widgets/StaffCard.astro";

import { leadershipPageLayout } from "~/staffData";

const title = "Leadership";

const heroActions: { text: string; href: string }[] = [];

for (let { sectionShort, sectionId } of leadershipPageLayout) {
  heroActions.push({
    text: sectionShort,
    href: "#" + sectionId,
  });
}
---

<Layout metadata={{ title }}>
  <Hero tagline="2023-2024 Academic Year" actions={heroActions}>
    <Fragment slot="title">BSLI Leadership Team</Fragment>
    <Fragment slot="subtitle">&nbsp;</Fragment>
  </Hero>

  {
    leadershipPageLayout.map(({ section, sectionId, staff }) => (
      <WidgetWrapper containerClass={`max-w-6xl`}`>
        <div id={sectionId}>
          <h2 class="text-primary text-3xl text-center font-bold mb-4">{section}</h2>

          <div class="flex flex-wrap items-stretch justify-center gap-4">
            {staff.map((name) => (
              <StaffCard name={name} />
            ))}
          </div>
        </div>

        <Fragment slot="bg">
          <div class="absolute inset-0 bg-gray-50 dark:bg-transparent" />
        </Fragment>
      </WidgetWrapper>
    ))
  }
</Layout>
