---
import Hero from "~/components/widgets/Hero.astro";
import WeAreBsli from "~/components/widgets/WeAreBsli.astro";
import Staff from "~/components/widgets/Staff.astro";
import Layout from "~/layouts/PageLayout.astro";
import StaffCard from "~/components/widgets/StaffCard.astro";
import Headline from "~/components/ui/Headline.astro";
import WidgetWrapper from "~/components/ui/WidgetWrapper.astro";

const title = "Sponsor us";
---

<Layout metadata={{ title }}>
  <Hero
    actions={[
      {
        variant: "primary",
        text: "Primary / Individual",
        href: "https://www.giveto.osu.edu/makeagift/details/314735?fund=314735",
      },
      {
        variant: "primary",
        text: "Corporate",
        href: "#corporate",
      },
    ]}
  >
    <Fragment slot="title"> Want to sponsor us? </Fragment>

    <Fragment slot="subtitle">
      Without donations by generous contributors like you, private or corporate,
      we could not do our work. Any contribution brings us one step closer to
      reaching the Karman line, and will let us make the experience for our
      members even better.
    </Fragment>
  </Hero>

  <WidgetWrapper id="corporate" containerClass={"max-w-7xl mx-auto"}>
    <Headline
      title="Let's get in touch!"
      tagline="Corporate sponsorships"
      classes={{
        container: "max-w-xl sm:mx-auto lg:max-w-2xl",
        title:
          "text-4xl md:text-5xl font-bold tracking-tighter font-heading",
        subtitle:
          "max-w-3xl mx-auto sm:text-center text-xl text-muted dark:text-slate-400",
      }}
    />
    <div class="mx-auto max-w-5xl p-4 md:px-8">
      <div class="md:flex gap-8">
        <div class="self-center">
          <div class="flex flex-col gap-8">
            <p>
              Hi, I'm Hana Winchester! I'm the <b>Sponsorship Chair</b> for the Buckeye
              Space Launch Initiative. If you want to sponsor us or just want to
              learn more, email me or Marc, our <b
                >Business Operations Director</b
              >.
            </p>

            <Staff title="Sponsorship Chair:" name="Hana Winchester" />
            <Staff title="Business Operations Director:" name="Marc Chow" />
          </div>
        </div>
        <div class="mt-10 md:mt-0 md:min-w-96">
          <StaffCard name="Hana Winchester" />
        </div>
      </div>
    </div>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-gray-50 dark:bg-transparent"></div>
    </Fragment>
  </WidgetWrapper>
</Layout>
