---
import Layout from "~/layouts/PageLayout.astro";

import SubteamHero from "~/components/widgets/SubteamHero.astro";
import SubteamBlurb from "~/components/widgets/SubteamBlurb.astro";
import Features2 from "~/components/widgets/Features2.astro";

const metadata = {
    title: "BSLI — The Ohio State University",
    ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <SubteamHero
      image={{
          src: "~/assets/images/projects/nasa/hero.jpg",
          alt: "NASA Student Launch",
      }}
      tagline={"23′-24′ NASA Student Launch Initiative Team"}
  >
    <Fragment slot="title">NASA Student Launch Project</Fragment>

    <Fragment slot="subtitle">
      We are part of <b>NASA’s Artemis Student Challenges</b>. NASA SLI is a competitive, research-based project that provides research and development support to the Space Launch System program.
    </Fragment>
  </SubteamHero>

  <Features2
    columns={2}
    items={[
      {
        title: 'NASA Artemis Challenge',
        description:
          'We are part of NASA’s Artemis Student Challenges. NASA SLI is a competitive, research-based project that provides research and development support to the SLS program.',
        image: {
          "src": "~/assets/images/projects/nasa/Artemis_Logo_NASA.webp",
          "alt": "NASA Artemis Logo"
        }
      },
      {
        title: 'NASA Marshall Center | Huntsville, AL',
        description:
          'NASA Student Launch is annually held at NASA’s Marshall Center in Huntsville, AL.',
        image: {
          "src": "~/assets/images/projects/nasa/davidson_center_stock_photo.webp",
          "alt": "NASA Davidson Center"
        }
      },
    ]}
  />

  <SubteamBlurb
    id="we-are-bsli"
    isReversed
    title="BSLI NASA SL Project team strives to compete in Huntsville."
    image={{
      src: '~/assets/images/projects/nasa/IMG20230414140044-scaled.webp',
      alt: 'NASA Subteam',
    }}
  >
    <Fragment slot="content">
      BSLI NASA Student Launch Initiative (SLI) project team commits to an eight-month process of designing, building, and flying payloads or vehicle components to support NASA’s Space Launch System (SLS) program. Each year, a new payload challenge is released by NASA, and the team works to design a vehicle and payload system to meet those needs in addition to writing competitive proposals and participating in design reviews.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-gray-50 dark:bg-transparent"></div>
    </Fragment>
  </SubteamBlurb>

  </Features>
</Layout>
