---
import Layout from "~/layouts/PageLayout.astro";

import MeetTheTeams from "~/components/widgets/MeetTheTeams.astro";
import TeamOverview from "~/components/widgets/TeamOverview.astro";
import TeamOverviewLeader from "~/components/widgets/TeamOverviewLeader.astro";
import ProjectHero from "~/components/widgets/ProjectHero.astro";
import SubteamInfo from "~/components/widgets/SubteamInfo.astro";
import ProjectBlurb from "~/components/widgets/ProjectBlurb.astro";
import Features2 from "~/components/widgets/Features2.astro";

const metadata = {
  title: "BSLI — The Ohio State University",
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <ProjectHero
    image={{
      src: "~/assets/images/projects/nasa/hero.jpg",
      alt: "NASA Student Launch",
    }}
    tagline={"23′-24′ NASA Student Launch Initiative Team"}
  >
    <Fragment slot="title">NASA Student Launch Project</Fragment>

    <Fragment slot="subtitle">
      We are part of <b>NASA’s Artemis Student Challenges</b>. NASA SLI is a
      competitive, research-based project that provides research and development
      support to the Space Launch System program.
    </Fragment>
  </ProjectHero>

  <Features2
    columns={2}
    items={[
      {
        title: "NASA Artemis Challenge",
        description:
          "We are part of NASA’s Artemis Student Challenges. NASA SLI is a competitive, research-based project that provides research and development support to the SLS program.",
        image: {
          src: "~/assets/images/projects/nasa/Artemis_Logo_NASA.webp",
          alt: "NASA Artemis Logo",
        },
      },
      {
        title: "NASA Marshall Center | Huntsville, AL",
        description:
          "NASA Student Launch is annually held at NASA’s Marshall Center in Huntsville, AL.",
        image: {
          src: "~/assets/images/projects/nasa/davidson_center_stock_photo.webp",
          alt: "NASA Davidson Center",
        },
      },
    ]}
  />

  <ProjectBlurb
    id="we-are-bsli"
    isReversed
    title="BSLI NASA SL Project team strives to compete in Huntsville."
    image={{
      src: "~/assets/images/projects/nasa/IMG20230414140044-scaled.webp",
      alt: "NASA Subteam",
    }}
  >
    <Fragment slot="content">
      Every year, the NASA Student Launch Initiative (SLI) project team commits
      to an eight-month process of designing, building, and flying payloads or
      vehicle components to support NASA’s Space Launch System (SLS) program.
      Each year, a new payload challenge is released by NASA, and the team works
      to design a vehicle and payload system to meet those needs in addition to
      writing competitive proposals and participating in design reviews.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-gray-50 dark:bg-transparent"></div>
    </Fragment>
  </ProjectBlurb>

  <MeetTheTeams
    title="Meet the Teams"
    tabs={[
      "Overview",
      "Structures",
      "Flight Systems",
      "Aerodynamics",
      "Payload",
    ]}
  >
    <TeamOverview
      slot="Overview"
      title="COSMOS"
      image={{
        src: "~/assets/images/projects/nasa/overview.webp",
        alt: "NASA Davidson Center",
      }}
      stats={[
        { name: "HEIGHT", values: ["2.74 m", "9 ft"] },
        { name: "DIAMETER", values: ["0.15 m", "0.51 ft"] },
        { name: "THRUST", values: ["1334 N", "300 lbf"] },
        { name: "MOTOR", values: ["Aerotech L1150"] },
        { name: "APOGEE", values: ["1.48 km", "4.9k ft"] },
        { name: "TOP SPEED", values: ["Mach 0.57"] },
      ]}
    >
      <TeamOverviewLeader
        title="Project Manager"
        people={["Matthew Heinzman"]}
      />
      <TeamOverviewLeader
        title="Deputy PM"
        people={["Abby Atchley", "Nisha Kumar"]}
      />
    </TeamOverview>

    <SubteamInfo
      slot="Structures"
      title="Structures"
      images={[
        {
          src: "~/assets/images/projects/nasa/structures.webp",
          alt: "Rocket mounted on a launch stand",
        },
      ]}
      leads={["Kennedy Swyers"]}
    >
      The NASA SL structures team is responsible for designing and testing all
      structural components for the rocket. The team focuses on creating a
      structurally-reliable airframe and any other aerodynamic components. Work
      includes layups, sanding, laser cutting, coating, and component testing.
      Team members will gain hands-on engineering experience, design and
      modeling work, and how to use structural materials.
    </SubteamInfo>

    <SubteamInfo
      slot="Flight Systems"
      title="Flight Systems"
      images={[
        {
          src: "~/assets/images/projects/nasa/avionics.webp",
          alt: "NASA SL avionics bay",
        },
      ]}
      leads={["Sahil Sura"]}
    >
      The NASA SL Flight Systems team is responsible for designing, testing, and
      manufacturing all flight computers, sensors, and telemetry systems and
      ensuring that rocket recovery systems are functional. Flight Systems works
      closely with all teams to collect proper data for a successful flight.
      Additionally, they work closely with Recovery and Payload to assist and
      ensure the proper systems and data collection systems work for their
      needs.
    </SubteamInfo>

    <SubteamInfo
      slot="Aerodynamics"
      title="Aerodynamics"
      images={[]}
      leads={["Brady Wilson"]}
    >
      The Aerodynamics team is responsible for optimizing the flight of the
      rocket through aerodynamic design and simulation.
    </SubteamInfo>

    <SubteamInfo
      slot="Payload"
      title="Payload"
      images={[
        {
          src: "~/assets/images/projects/nasa/payload.webp",
          alt: "NASA SL payload",
        },
      ]}
      leads={["Dominick Delpico", "Sai Vidyud Senthil Nathan"]}
    >
      The NASA SL payload team focuses on designing a payload that conforms to
      the competition requirements. The Payload team works to implement a
      solution to a given challenge. The payload follows a CubeSat form factor.
      Work includes design brainstorming, CAD development, software programming,
      and data analysis post-flight.
    </SubteamInfo>
  </MeetTheTeams>
</Layout>
